<ion-view view-title="Loo Helper">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear icon ion-ios7-settings-strong"
       href="#/options"></a>
  </ion-nav-buttons>
  <ion-content class="padding center-content background-cover" scroll="false">
    <button class="button icon button-full button-large button-positive"
            ng-class="{'ion-ios7-pause button-assertive': active, 'ion-ios7-play': !active}"
            ng-click="play()">
    </button>
  </ion-content>
</ion-view>
