<ion-view view-title="Options">
  <ion-content>
    <div class="list">
      <div class="item item-divider item-text-wrap">
        <h2><strong>Audio Type</strong></h2>
        <p>You can choose which type of sound should be played.</p>
      </div>
      <ion-radio ng-model="options.sound.selected"
                 ng-repeat="item in options.sound.items"
                 ng-value="item.name"
                 ng-change="onChangeSound(item)">
        {{ item.display_name }}
      </ion-radio>
    </div>
  </ion-content>
</ion-view>
