<ion-tabs class="tabs-icon-only tabs-top tabs-striped tabs-background-positive tabs-color-light">
    <!-- Loo Tab -->
    <ion-tab title="Loo" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/loo">
        <ion-nav-view name="tab-loo"></ion-nav-view>
    </ion-tab>
    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
