<ion-view view-title="{{ 'APP_NAME' | translate }}">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear icon ion-ios7-settings-strong"
       href="#/options"></a>
  </ion-nav-buttons>
  <ion-content class="padding center-content background-cover" scroll="false">
    <div class="loo-control" ng-click="play()"
         ng-class="{'loo-control-pause': active, 'loo-control-play': !active}">
      <ng-include src="'images/ionic-play.svg'" ng-show="!active"></ng-include>
      <ng-include src="'images/ionic-pause.svg'" ng-show="active"></ng-include>
    </div>
  </ion-content>
</ion-view>
